body {
    margin-left:20px ;
    background-color: #ffffff;
}

h1 {
    color: blue;
    padding: 20px;
}

div {
    width: 170px;
    margin-left:  500px;
    margin-bottom: 300px;
    height: 387px;

    background-color: #faf8f8;

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-width: 2px;
    border-style:solid ;
    border-color:black ;
   
}